<section class="m-2">
  <div class="flex items-center space-x-4">
    <div class="bg-blue-500 text-white p-4 rounded-full">
      <img
        src="https://cdn-icons-png.flaticon.com/512/3814/3814614.png "
        alt="Paquetes de mecatos"
        class="w-16 h-16"
      />
    </div>
    <div>
      <h1 class="text-2xl font-bold text-gray-700">Distribuidora</h1>
      <h2 class="text-3xl font-extrabold text-blue-600">MECATICO COMPANY</h2>
    </div>
  </div>
  <app-forms />
</section>

<router-outlet />
