<form [formGroup]="buyForm" class="max-w-lg mx-auto" (ngSubmit)="generarOrdenDeCompra()">
  <div class="mb-5">
    <label
      for="typeID"
      class="block mb-2 text-sm font-medium text-gray-900"
      >Seleccionar tipo de documento:</label
    >
    <select
      id="typeID"
      formControlName="typeID"
      class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-indigo-500 focus:bg-blue-50 focus:ring-2 focus:ring-indigo-200 block w-full p-2.5"
      [ngClass]="{
        'border-red-500': hasErrors('typeID', 'required'),
        'border-green-600':
          !hasErrors('typeID', 'required') && wasItTouched('typeID')
      }"
    >
      <option value="Cédula">Cédula</option>
      <option value="NIT">NIT</option>
    </select>
  </div>
  @if (typeID) {
  <div class="mb-5">
    <label
      for="numID"
      class="block mb-2 text-sm font-medium text-gray-900"
      >Ingrese su número de {{ typeID }}:</label
    >
    <input
      type="numID"
      id="numID"
      formControlName="numID"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 focus:bg-blue-50 block w-full p-2.5"
      placeholder="1100500600"
      [ngClass]="{
        'border-red-500':
          hasErrors('numID', 'required') || hasErrors('numID', 'minlength') || hasErrors('numID', 'pattern'),
        'border-green-600':
          !hasErrors('numID', 'required') && wasItTouched('numID')
      }"
    />
    @if (hasErrors('numID','required')) {
    <span class="text-red-600 text-sm">* Número de {{ typeID }} requerido</span>
    } @if (hasErrors('numID', 'pattern')) {
      <span class="text-red-600 text-sm">* Ingrese solo números</span>
    } @else if (hasErrors('numID', 'minlength')) {
      <span class="text-red-600 text-sm">* Mínimo 6 caracteres </span>
    }
  </div>
  }

  <div class="mb-5">
    <label
      for="name"
      class="block mb-2 text-sm font-medium text-gray-900"
      >Ingrese su nombre:</label
    >
    <input
      type="name"
      id="name"
      formControlName="name"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 focus:bg-blue-50 block w-full p-2.5"
      placeholder="José Luis"
      [ngClass]="{
        'border-red-500':
          hasErrors('name', 'required') || hasErrors('name', 'minlength'),
        'border-green-600':
          !hasErrors('name', 'required') && wasItTouched('name')
      }"
    />
    @if (hasErrors('name','required')) {
    <span class="text-red-600 text-sm">* Nombre requerido</span>
    } @if (hasErrors('name', 'minlength')) {
    <span class="text-red-600 text-sm">* Mínimo 3 caracteres</span>
    }
  </div>

  <div class="mb-5">
    <label
      for="lastname"
      class="block mb-2 text-sm font-medium text-gray-900"
      >Ingrese su(s) apellido(s):</label
    >
    <input
      type="lastname"
      id="lastname"
      formControlName="lastname"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-indigo-500 focus:border-indigo-500 focus:bg-blue-50 block w-full p-2.5"
      placeholder="Paternina Martínez"
      [ngClass]="{
        'border-red-500':
          hasErrors('lastname', 'required') || hasErrors('lastname', 'minlength'),
        'border-green-600':
          !hasErrors('lastname', 'required') && wasItTouched('lastname')
      }"
    />
    @if (hasErrors('lastname','required')) {
    <span class="text-red-600 text-sm">* Apellido(s) requerido(s)</span>
    } @if (hasErrors('lastname', 'minlength')) {
    <span class="text-red-600 text-sm">* Mínimo 3 caracteres</span>
    }
  </div>

  <div class="mb-5">
    <label
      for="phone"
      class="block mb-2 text-sm font-medium text-gray-900"
      >Ingrese su número de teléfono:</label
    >
    <input
      type="phone"
      id="phone"
      formControlName="phone"
      class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
      placeholder="321 456 7890"
      [ngClass]="{
        'border-red-500':
          hasErrors('phone', 'required') || hasErrors('phone', 'minlength') || hasErrors('phone', 'pattern'),
        'border-green-600':
          !hasErrors('phone', 'required') && wasItTouched('phone')
      }"
    />
    @if (hasErrors('phone','required')) {
      <span class="text-red-600 text-sm">* Número de teléfono requerido</span>
    } @if (hasErrors('phone', 'pattern')) {
      <span class="text-red-600 text-sm">* Ingrese solo números</span>
    } @else if (hasErrors('phone', 'minlength')) {
      <span class="text-red-600 text-sm">* Mínimo 10 caracteres</span>
    }
  </div>

  <label
    for="checkboxes"
    class="block mb-2 text-sm font-medium text-gray-900"
    >Seleccione los productos a ordenar:</label
  >
  <p class="text-sm text-gray-900">Paquetes x 10 unidades</p>
  <ul formArrayName="checkboxes" class="grid w-full my-2 gap-6 md:grid-cols-3">
    @for (product of products; track $index) {
      <li>
          <input type="checkbox" id="{{product.id}}" [formControlName]="$index" value="{{product.name}}" class="hidden peer" required="">
          <label for="{{product.id}}" class="inline-flex items-center justify-between w-full p-5 text-gray-500 bg-white border-2 border-gray-200 rounded-lg cursor-pointer peer-checked:border-blue-600 hover:text-gray-600 peer-checked:text-gray-600 hover:bg-gray-50">                           
              <div class="block">
                <div class="w-full text-sm font-semibold">{{product.name}}</div>
                  <div class="w-full text-sm">{{product.price}}</div>
              </div>
          </label>
      </li>
    }
  </ul>
  @if (cantSelectProducts < 3) {
    <span class="text-red-600 text-sm">* Mínimo 3 productos para generar la orden de compra</span>
    <br>
  }

  <!-- Lista de la orden de los productos -->
  @if (productosSeleccionados) {
    <div class="relative mt-4 overflow-x-auto shadow-md sm:rounded-lg">
      <h3 class="block mb-2 text-sm font-medium text-gray-900">Lista de la orden de los productos:</h3>
      <h4 class="block mb-2 text-sm text-gray-900">
        Orden generada por: {{dataForm.name +' '+ dataForm.lastname}}
      </h4>
      <table
        class="w-full text-sm text-left rtl:text-right text-gray-500"
      >
        <thead
          class="text-xs text-gray-700 uppercase bg-indigo-100"
        >
          <tr>
            <th scope="col" class="px-6 py-3">#</th>
            <th scope="col" class="px-6 py-3">Productos</th>
            <th scope="col" class="px-6 py-3">Cantidad</th>
            <th scope="col" class="px-6 py-3">Precio</th>
          </tr>
        </thead>
        <tbody>
          @for (producto of productosSeleccionados; track $index) {
          <tr
            class="bg-gray-100 border-b hover:bg-gray-50"
          >
          <td class="px-6 py-4 text-gray-900">{{$index+1}}</td>
            <td class="px-6 py-4 font-semibold text-gray-900">
              {{ producto.name }}
            </td>
            <td class="px-6 py-4 text-gray-900">1</td>
            <td class="px-6 py-4 font-semibold text-gray-900">
              {{ producto.price }}
            </td>
          </tr>
          }
        </tbody>
        <tfoot>
          <tr class="font-semibold text-gray-900">
              <td></td>
              <th scope="row" class="px-6 py-3 text-base">Total</th>
              <td class="px-6 py-3">{{productosSeleccionados.length}}</td>
              <td class="px-6 py-3 text-base">${{ calcularTotalAPagar() }}</td>
          </tr>
      </tfoot>
      </table>
    </div>
  }

  <div class="mt-6 flex items-center justify-center space-x-2">
    <button
      type="submit"
      class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center me-2"
    >
    <svg class="w-3.5 h-3.5 me-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 21">
      <path d="M15 12a1 1 0 0 0 .962-.726l2-7A1 1 0 0 0 17 3H3.77L3.175.745A1 1 0 0 0 2.208 0H1a1 1 0 0 0 0 2h.438l.6 2.255v.019l2 7 .746 2.986A3 3 0 1 0 9 17a2.966 2.966 0 0 0-.184-1h2.368c-.118.32-.18.659-.184 1a3 3 0 1 0 3-3H6.78l-.5-2H15Z"/>
      </svg>
      {{IsVisibleButtonPrint ? 'Generar nueva orden': 'Generar orden de compra'}}
    </button>

    @if (IsVisibleButtonPrint) {
      <button
        type="button"
        (click)="generarPDF()"
        class="focus:outline-none text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2"
      >
        Generar PDF
      </button>
    }
  </div>

</form>
